.theme-dark {
  --color-primary-100: #f2f5fb;
  --color-primary-200: #dae1f0;
  --color-primary-300: #98a3b9;
  --color-primary-400: #768198;
  --color-primary-500: #535d73;
  --color-primary-600: #333b4d;
  --color-primary-700: #232936;
  --color-primary-800: #101624;
  --color-primary-900: #0c111b;
}

.theme-light {
  /* fonts */
  --color-primary-100: #141820;
  --color-primary-200: #212a35;
  --color-primary-300: #718096;

  /* backgrounds */
  --color-primary-700: #ffffff;
  --color-primary-800: #efeff4;
  --color-primary-900: #ffffff;
}

body {
  color: var(--color-primary-100);
  font-size: 14px;

  --icon-white: #ffffff;
  --icon-focus: #dde2e9;

  --color-accent: hsl(220, 80%, 55%);
  --color-accent-hover: hsl(220, 100%, 65%);
  --color-accent-disabled: hsl(220, 100%, 80%);
  --color-accent-glow: #42b4ff;
  --color-button-text: #fff;
  --shadow-accent: 0px 10px 30px hsla(200, 100%, 50%, 0.2);

  --color-accent-2: #fd4d4d;
  --color-accent-2-hover: #fd6868;
  --color-accent-2-disabled: #f5bfbf;
  --color-accent-2-glow: rgba(253, 77, 77, 0.063);

  --shadow-normal: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
