#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  background: var(--color-accent);
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--color-accent), 0 0 5px var(--color-accent);
}

#nprogress .spinner-icon {
  border-top-color: var(--color-accent);
  border-left-color: var(--color-accent);
}
